.courseTable {

    border: 1px solid black;
    padding-bottom: 40px;
    padding-top: 10px;
}

.courseTable td {
    margin-left: 40px;
}
.wrapper {
    width: 60%;
    margin: auto;
}

table {
    width: 100%;
}
  
  .logbutton {
    margin: 5px;
    background-color: #DA291C;
    width: 200px;
    height: 33px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    border: 2px solid #888;
}

.register {
    width: 50px;
    float: left;
}
.logbutton:active, .logbutton:hover {

background-color: #FF8784;
color: white;
}