.lContainer {
    margin: auto;
    width: 50vw;
    background-color: red;
    text-align: center;
    border-radius: 6px;
}

.logbutton {
    margin: 5px;
    background-color: white;
    width: 100px;
    height: 33px;
    border-radius: 8px;
    color: red;
    font-weight: bold;
    border: 2px solid #888;
}

.logbutton:active, .logbutton:hover {

background-color: #ff4f4f;
color: black;
}