<div class="mainContainer">
<div class="courseHeader">
<img src="../assets/fireman.png"  >
<div><p>Fire Protection Courses</p>
<p>
    Certificate Courses
</p></div>
</div>
<div class="fProtectionMain">
    <hr>
    <h3>Courses</h3>
    <ul>
        <li><a href="">Fire Protection 101 </a></li>
        <li><a href="">Fire Protection 102 </a></li>
        <li><a href="">Fire Protection 103 </a></li>
    </ul>

    <hr>
    <h3>Registration</h3>
    <div class="courseDivContainer">
        <h2> Fire Protection 101</h2> <span class="courseAddInfo"> Code: 001 </span><span>Cost: 450</span><br>
<table>
    <tr><th>Date</th><th>Time</th><th>Campus</th><th>Room</th><th></th></tr>
    <tr><td>Sept 17, 2019 to 0ct 1, 2019</td><td>6:30 PM to 8:30 PM</td><td>Newnham</td><td>1234</td><td><button class="register">Register</button></td></tr>
    <tr><td>Jan 14, 2020 to Jan 28, 2020</td><td>6:30 PM to 8:30 PM</td><td>Newnham</td><td>2678</td><td><button class="full">FULL</button ></td></tr>
</table>
<p>This course is part of lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</p>
    </div>
</div>

</div>