.deleteCom {
    text-align: center;
    overflow-y:hidden;
}


.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
  }
  
  button{
      display:block;
      margin: auto;
      margin-bottom: 6px;
  }