<div class="lContainer">
  <h1>Teacher Dashboard</h1>
   
  <button class="logbutton" (click)="addCourse();">Add A Course</button>

  <div class="formContainer" [formGroup]="addCourseForm">
<h2> Enter New Course Details</h2>
    
      <mat-form-field>
        <input appearance="standard" matInput placeholder="Course Name" formControlName="tCourseName" />
        <mat-error>
        </mat-error>

      </mat-form-field>

      <mat-form-field >
        <input appearance="standard" matInput placeholder="Course Description" formControlName="tDescription" />
        <mat-error>
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <input appearance="standard" matInput placeholder="Teacher" formControlName="tTeacherName" />
        <mat-error>
        </mat-error>

      </mat-form-field>
<br>
      <button class="logbutton" (click)="pushCourse()">Add new course!</button><br>
      <button  class="logbutton"> Back </button>




  </div>
<br>
<div class="formContainer">
<h2>Courses</h2>

<ul>
  <li *ngFor="let course of coursesobj">
    {{ course.courseName }} {{ course.courseId}}
  </li>
</ul>
  </div>


  </div>