.lContainer {
    margin: auto;
    width: 70vw;
    background-color: red;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
}

.logbutton {
    margin: 5px;
    background-color: white;
    width: 200px;
    height: 33px;
    border-radius: 8px;
    color: red;
    font-weight: bold;
    border: 2px solid #888;
    
}

.logbutton:active, .logbutton:hover {

background-color: #ff4f4f;
color: black;
}


.formContainer{
    background-color: white;
    border-radius: 6px;
    padding: 15px;
      
  }


  
.mat-form-field{
    margin-left: 25px;
}

table {
    width: 100%;
    border-radius: 10px;
}

.tablecontainer{
    background-color: white;
    width: 90%;
    margin:auto;
    padding-top:4px; 
    border-radius: 5px;
    overflow: hidden;
    
}

td {
    text-align:left;
}