/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #DA291C !important;
}


.mat-form-field.mat-focused .mat-form-field-label{
    color: #DA291C;
}




.lContainer {
    margin: auto;
    width: 50vw;
    background-color: #DA291C;
    text-align: center;
    border-radius: 6px;
}

.logbutton {
    margin: 5px;
    background-color: white;
    width: 200px;
    height: 33px;
    border-radius: 8px;
    color: #DA291C;
    font-weight: bold;
    border: 2px solid #888;
}

.logbutton:active, .logbutton:hover {

background-color: #ff4f4f;
color: black;
}

mat-form-field {
    display: inline-block;
    width: 200px;
    background-color: white;
    border-radius: 6px;
}



.formcontainer{
  background-color: white;
  border-radius: 6px;
  padding: 15px;
    
}

.mat-form-field.mat-focused .mat-form-field-label{
    color: #DA291C !important;
}


.lContainer {
    padding: 15px;
}


mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #DA291C !important;
}

//use for proceeding buttons such as login and register in student component, during fill out step
.proceed {
    
    margin: 5px;
    width: 200px;
    height: 33px;
    border-radius: 8px;
    font-weight: bold;
    border: 2px solid #888;
width: 200px;
background-color: #DA291C;
color: white;

}

.proceed:hover {
background-color: #ff4d4d;
color: black;
}

.mat-form-field{
     margin-left: 25px;
}

.xArrowTable {
    font-size: 2em;
}

.xArrowTable:hover {
    cursor: pointer;
}

body {
    margin: 0px;
}

.register {
    background-color: #DA291C;
    color: white;
    width: 138px;
    height: 40px;
    border: none;
}

.buttonred {
border-radius:5px;
height: 40px;
width: 126px;
color: white;
background-color:#DA291C;
border: none;
margin-right: 15px;
}

.buttonwhite {
    border-radius:5px;
height: 40px;
width: 126px;
background-color: white;
border: 1px solid #DA291C;
color:#DA291C;
}


.headerMainText{
color: white;
font-size: 2em;
margin: 30px 20px;
display: inline-block;
}

.headerSideText{
    margin: 30px 20px;
    color: white;
    font-size: 1.5em;
    display: inline-block;
}

.sidecontainer{
    float: right;
}