<h1> DASHBOARD </h1>
<div class="filters">
<mat-form-field>
    <mat-label>Faculty</mat-label>
    <select matNativeControl required>
      <option *ngFor="let food of foods" [value]="food.value"> {{food.viewValue}}</option>
      
    </select>
  </mat-form-field>

<br>

  <mat-form-field >
      <mat-label>Filter Courses</mat-label>
      <select matNativeControl required>
        <option *ngFor="let food of foods" [value]="food.value"> {{food.viewValue}}</option>
        
      </select>
    </mat-form-field>
  </div>