

<div class="logContainer">

    <h1>ADMIN LOGIN</h1>
    <p>Sign in with your Seneca email</p>
  
    <div [formGroup]='tloginForm'>
        <mat-form-field>
          <input appearance="standard" matInput placeholder="someone@example.com" formControlName="tUsername" />
          <mat-error>
          </mat-error>
  
        </mat-form-field>
        <br>
        <mat-form-field>
          <input appearance="standard" matInput placeholder="Password" formControlName="tPassword"
            type="password" />
          <mat-error>
          </mat-error>
  
        </mat-form-field><br>
  
        <button class="proceed"  (click)="navigateToTeacher()"> Sign In </button><br><br>
        <a href="">Trouble Logging in?</a>
      </div>
    </div>