.logContainer {
    margin: auto;
    display: block;
    width: 30vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.logContainer h1{
    font-weight: bold;
    color: #DA291C;
    margin: 50px 0px 30px 0px;
}

.mat-form-field{
    margin-left: 0px;
    width: 80%
}

.proceed {
    border: none;
}



@media only screen and (max-width: 600px) {

    .logContainer {
        margin: auto;
        display: block;
        width: 95vw;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    

}